{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>
<!-- body -->

<body>
   <!-- products -->
   <div class="products">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Products</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="our_products">
                  <div class="row">

                     <div class="col-md-6 margin_bottom1">
                        <div class="product_box">
                           <a href="#">
                              <figure><img src="{{product.product_image.url}}" alt="#"
                                    style="width: 300px;height: 300px;" /></figure>

                           </a>
                           {% if request.session.email %}
                              {% if cart_flag == True %}
                                 <a href="{% url 'remove_from_cart' pk=product.pk %}"><input type="button"
                                 value="REMOVE FROM CART" class="btn btn-danger"></a>
                                 
                              {% else %}
                                 <a href="{% url 'add_to_cart' pk=product.pk %}"><input type="button"
                                 value="ADD TO CART" class="btn btn-primary"></a>
                              {% endif %}
                                 
                              {% if wishlist_flag == True %}
                                 <a href="{% url 'remove_from_wishlist' pk=product.pk %}"><input type="button"
                                 value="REMOVE FROM WISHLIST" class="btn btn-danger"></a>
                              {% else %}
                                 <a href="{% url 'add_to_wishlist' pk=product.pk %}"><input type="button"
                                 value="ADD TO WISHLIST" class="btn btn-info"></a>
                              {% endif %}

                           {% else %}
                              <a href="{% url 'login' %}"><input type="button" value="LOGIN" class="btn btn-primary"></a>
                           {% endif %}
                           
                             
                        </div>
                     </div>

                     <div class="col-md-6 margin_bottom1">
                        <div class="product_box">
                           <a href="#">
                              <h3>{{product.product_category}}</h3>
                              <h3>Name:{{product.product_name}}</h3>
                              <h3>Price:{{product.product_price}}</h3>
                              <h3>Discription:{{product.product_desc}}</h3>
                              <h3>Discount:{{product.discount}}%</h3>
                           </a>
                        </div>
                     </div>


                     <div class="col-md-12">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end products -->

</body>

</html>
{% endblock %}