{% extends 'seller_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Add Product</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  {% if msg %}
                     <center><font size="7"><b style="color: white;">{{msg}}</b></center></font>
                  {% endif %}
                  <form id="request" class="main_form" action="{% url 'seller_add_product' %}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-md-12 " style="color: white; font-size: 20px;">
                           <select name="product_category" class="contactus">
                                <option style="background-color: rgba(108, 119, 213, 0.612);">---select Product Category---</option>
                                <option value="Computer" style="background-color: rgba(108, 119, 213, 0.612);">Computer</option>
                                <option value="Laptop" style="background-color: rgba(108, 119, 213, 0.612);">Laptop</option>
                                <option value="Accessories" style="background-color: rgba(108, 119, 213, 0.612);">Accessories</option>
                           </select>
                        </div>
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Product Name" type="type" name="product_name"> 
                        </div>
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Product Price" type="type" name="product_price"> 
                        </div>
                        
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Product Description"   name="product_desc"></textarea>
                        </div>
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Discount" type="type" name="discount"> 
                       </div>
                        <div class="col-md-12">
                           <input class="contactus" type="file" name="product_image"> 
                        </div>
                        
                        <div class="col-md-12">
                           <button class="send_btn">Add Product</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      
   </body>
</html>
{% endblock %}

